@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/menu/fondo2.jpg);
  background-size: 100% 100%;

}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* link styles 
a:link {
  color: #C00;
}
a:visited {
  color: #000000;
}
a:focus {
  color: #921A66;
}
a:hover {
  color: #921A66;
}
a:active {
  color:#F00;
}

a{
  text-decoration: none;
  border-bottom: dotted 1px;
  padding-top: 0.1em;
  font-family: 'McLaren', cursive;
 
}
*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* styles for the intro section */
#intro {
  text-align: center;
 
}
p{
  font-family: 'McLaren', cursive;
}
#intro h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #f26521;
  
}
#intro p {
  font-family: 'McLaren', cursive;
  font-style: italic;
  color: rebeccapurple;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* styles for navigation 
#nav {
  background-color: #000000;
  opacity: 0.89;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
#nav ul li {
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  
}
#nav ul a:link {
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
#nav ul a:visited {
  color: #fff;
}
#nav ul a:focus {
  color:#FC6
}
#nav ul a:hover {
  color: #fc6;
}
#nav ul a:active {
  color:#F00;
}
#nav li a:hover { Change the link color to #111 (black) on hover 
  background-color: #f26721; #111
}
  */

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* styles for the products section */
#products {
  background-color: #FFF;
  line-height: 1.5em;
  padding: 1em;
  opacity: 0.82;
}

#cont1 h2 {
  font-size: 1.2em;
  color: red;
  margin-left: 2%;
  text-transform: uppercase;
  font-family: 'McLaren', cursive;
}
#products h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  padding: 1em;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* styles for the testimonials box 
#testimonials {
  background: rgb(210, 102, 236) ;
  font-size: .875em;
  line-height: 1.5;
  color: #633;
  padding-left: 4.4375em;
  border-radius: 25px;
  padding: 3em;
  opacity: 0.82;
}
  
#testimonials h2 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
  letter-spacing: 3px;
}
*/
/* miscellaneous styles 
em { 
  color: #F26521;
}
p#copyright {
  color:#663333; 
  font-size: .8em;
  text-align: center;
}

p#Sub{
  border: solid white 1px;
  background: white;
  opacity: 0.70;
}
*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*Estilos nuevo menu*/


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
  opacity: 0.8;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}


/*Fin estilos nuevo menu*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*Estilos contenedores Index*/

#content{
  background: white;
  opacity: 0.82;
}

#infoCont1{
  position: relative;
  color: black;
  border: solid 1px white;
  margin-left: 25%;
  top: -15em;
  text-align: justify;
}

/*Fin estilos contenedores Index*/

/*-------------------------------------------------------------------------------------------------------------------------------------*/

/*Estilos Carrusel de Imagenes*/

.slider {
  width: 45%;
  height: 15%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*Fin estilos Carrusel de Imagenes*/

/* Estilos card */

@white: #ffffff;
@lightBG: #dce1df;
@salmon: #ff6666;

@teal: #0096a0;
@tealMid: #0ebac7;
@tealContrast: #33ffff;
@tealShade:	#007c85;

@darkGrey: #4f585e;


a.btn {
  background: teal;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(teal,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(teal,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}
.card__image{
  max-width: 300px;
  height: 450px;
}
div.card {
  background: white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;

 } 

  div.card-title {
    background: white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
   }  
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
     } 
      span {
        background: white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    
    
    h2 {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
       }
      small{
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    
  

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken(white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}




/* Fin estilos card */